---
layout: default
---

{% include base_path %}

<div id="main" class="home-main" role="main">
  <div class="home-profile">

    <section class="home-profile__identity">
      <img
        src="{{ site.author.avatar | prepend: '/images/' | relative_url }}"
        alt="{{ site.author.name }}"
        class="home-profile__photo"
      >

      <h1>{{ site.author.name }}</h1>
      <p class="home-profile__subtitle">{{ site.author.bio }}</p>

      <div class="home-profile__links">
        {% if site.author.email %}
          <a href="mailto:{{ site.author.email }}">Email</a>
        {% endif %}

        {% if site.author.github %}
          <a href="https://github.com/{{ site.author.github }}">GitHub</a>
        {% endif %}

        {% if site.author.googlescholar %}
          <a href="{{ site.author.googlescholar }}">Google Scholar</a>
        {% endif %}

        {% if site.author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
            LinkedIn
          </a>
        {% endif %}
      </div>
    </section>

    <section class="home-profile__content">
      {{ content }}
    </section>

  </div>
</div>
